{% extends 'base.html' %}

{% block title %}Server Error{% endblock %}

{% block head_css %}
<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>500 - Internal Server Error</h1>
    <p>We're sorry, but something went wrong on our end.</p>
    <p>Please try again later or report an issue <a href="https://github.com/alpha-phi-omega-ez/apoez.org-flask/issues">here</a></p>
    <p>Return <a href="{{ url_for('index') }}">home</a>.</p>
</div>
{% endblock %}