name: Docker Build Test

on:
  pull_request:
    paths:
      - "**.py"
      - "Dockerfile"
      - "uv.lock"
      - ".python-version"
      - "pyproject.toml"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: dhi.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: "Build Docker Image"
        run: |
          docker build -t apoez-backend .

      - name: "Run Docker Container"
        run: |
          docker run -d --name apoez-backend-container apoez-backend
          sleep 30
          docker logs apoez-backend-container
          docker stop apoez-backend-container
      
      - name: "Check for Container Exit Code"
        id: check_exit_code
        run: |
          docker inspect apoez-backend-container --format='{{.State.ExitCode}}'
          docker rm apoez-backend-container

      - name: "Fail if Container Fails"
        if: steps.check_exit_code.outputs.exit_code != '0'
        run: exit 1